
.aboutus{    
    margin: 11rem auto;
    h2{
        text-align: center;
        font-weight: bold;
        margin: 2.5rem auto;
    }
    &_img{
        background-image:linear-gradient(to right bottom, rgba($color1,0), rgba($color2, .5)),
        url(../img/home_section_img/about_us.jpg);
        @include img_properties;        
        @include respond(phone){
            min-height: 15rem;
            margin-bottom: 2rem;
        }
    }    
    &_text{               
        padding-left: 2rem;
        &_bold{
            font-weight: bold;
        }
    }
    h3{
        margin: 2rem auto;
    }    
}

