.faq{
    margin:12.5rem 0 4.1rem 0;
    h1{
        text-align: center;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }
    &_accordion{
        h4{
            text-align: center;
            margin: 2rem auto;
            font-weight: bold;
        }
    }
    .btn{
        white-space: normal;
        text-align: left;        
        text-decoration: none;
        color: $color1;
        font-weight: bold;
    }
    &_clients{
        margin: 4rem auto;
        
    &_img{
         background-image:linear-gradient(to right bottom, rgba($color1, 0), rgba($color2, .5)), url(../img/how.jpg);
        @include img_properties;
        @include respond(phone){
        min-height: 200px;
        }
     }
     ul{
            padding: 0 0 0 5rem;
            list-style: none;    
         @include respond(phone){
            padding: 0;
        }           
    }     
    h3{
        margin-bottom: 2rem;
        text-align: center;
        font-weight: bold;
        @include respond(phone){
            margin-top: 2rem;
        }
        }
    h3, .fas{            
            background: linear-gradient(to right bottom, rgba($color1,1), rgba($color2, .3));
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color:transparent;
        }   
    }
    &_end{
        font-weight: bold;
        background-color: $color3;
        padding: 2rem 0;
    }
}