.footer{
    margin:-4rem 0;
    background-image:linear-gradient(to right bottom, rgba($color1,1), rgba($color2, 1));
    padding-bottom: .8rem;
    &__content{
        padding-top: 3rem;
        color: #fff!important;
    }
    .logo_and_copy{
        font-size: .9rem;
        font-weight: lighter;
        a,li{
            color: #fff !important;   
            list-style: none;
            text-decoration: none;
        }
        .logo{
            img{
                 width: 6.625rem;
                 height: 6.625rem;
            }
        }
        p{
            padding: 1rem 0;
        }
    }
    &__contact{
        font-size: .9rem;
    }
}

.call_anchor{
    text-decoration: none;
    color: white;
    &:hover{
        color: white;
        text-decoration: none;
    }
    .call_now_btn_fixed {

        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5000 !important;
        position: fixed !important;
        bottom: 1.3rem;
        left: 1.5rem;
        // @include gradient;
        background-image:linear-gradient(to left bottom, rgba($color1,.9), rgba($color2, 1));
        // box-shadow: 2px 2px 1px #fff;
        color: white;
        height: 4rem;
        width:4rem ;
        @include respond('phone'){
            height: 4.8rem;
           width: 4.8rem;
        }
        border-radius: 50%;
        line-height: 4rem;
    }
    //     .copy_ending
    //     {
    //     margin-bottom: -2rem;
    //     color:#fff;
    //     @include respond('phone'){
    //         margin-bottom: unset !important;
    //     }
    // }
}